<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="egingenierie.radioespace"
    android:versionCode="16"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <!-- PERMISSIONS GENERIQUES -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

    <!-- PERMISSIONS NECESSAIRES A LA RECEPTION DE NOTIFICATIONS PUSHS -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="egingenierie.radioespace.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="egdigital.generations.permission.C2D_MESSAGE" />


    <application
        android:name="egingenierie.radioespace.AppsPanel"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        
        <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
        
        <activity
            android:name="egingenierie.radioespace.SplashScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        
        <activity
            android:name="egingenierie.radioespace.RadioHomePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name="egingenierie.radioespace.radiostreeming.PlaybackService" />

        <activity
            android:name="egingenierie.radioespace.PodcastCategoryScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="egingenierie.radioespace.PodcastHomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="egingenierie.radioespace.EmissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="egingenierie.radioespace.FrequenciesHomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="egingenierie.radioespace.InfosScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <service
            android:name="com.hcnx.hello.reception.HNPushListenerService"
            android:exported="false">
            <intent-filter android:priority="-400">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service android:name="com.hcnx.hello.reception.HNInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.hcnx.highnotif.default_ic_notif"
            android:value="list_radio_icon_2" />

        <meta-data
            android:name="com.hcnx.highnotif.default_title_notif"
            android:value="Radio Espace" />



    </application>

</manifest>